* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #262626;
}

.cart__order__form{
    border: solid white 1px;
    border-radius: 10px;
    padding: 20px;

    background: whitesmoke;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.cart__order__form__question{
    margin: 20px 0;
}

.error input{
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.527);
}

.error p{
    color: red;
}

/* partie du text anim */
.text-anim{
    border: solid 1px #16d9e7;
    border-radius: 5px;
    padding: .5em;
    margin: .5em 0;
    min-height: 75px;
  }
  #target {
    display: flex;
    margin-left: 1rem;
    position: relative;
  }
  #target::after {
    content: "";
    position: absolute;
    height: 1rem;
    width: 3px;
    background: black;
    top: 8px;
    transform: translateY(-4px);
    left: -9px;
    animation: anim 0.8s linear infinite;
  }
  @keyframes anim {
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }